@font-face {
  font-family: "AvertaCy";
  src: url("../../../static/fonts/AvertaCy/AvertaCY-Light.woff2");
  font-weight: lighter;
}

@font-face {
  font-family: "AvertaCy";
  src: url("../../../static/fonts/AvertaCy/AvertaCY-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "AvertaCy";
  src: url("../../../static/fonts/AvertaCy/AvertaCY-Semibold.woff2");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2c2c2e;
  font-family: "AvertaCy", sans-serif !important;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.primary-btn, .secondary-btn {
  padding: 10px 20px;
  background-color: #5459ff;
  color: #fff;
  border-radius: 4px;
}

.secondary-btn {
  background-color: #2c2c2e;
}

.nav-bar {
  width: 100%;
  height: 100px;
}

.nav-bar .wrapper {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav-bar .wrapper .nav-logo h2 {
  font-size: 20px;
}

.nav-bar .wrapper .nav-items .profile-container {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-bar .wrapper .nav-items .profile-container .user-info {
  margin-right: 7px;
  text-align: right;
}

.nav-bar .wrapper .nav-items .profile-container .user-info h2 {
  font-size: 16px;
  font-weight: lighter;
}

.nav-bar .wrapper .nav-items .profile-container .user-info p {
  font-size: 14px;
  color: #818181;
}

.nav-bar .wrapper .nav-items .profile-container .user-img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  overflow: hidden;
}

.nav-bar .wrapper .nav-items .profile-container .user-img img {
  width: 100%;
}

.nav-bar .wrapper .nav-items .nav-links {
  position: absolute;
  width: auto;
  height: auto;
  top: 120px;
  right: 0;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: .5s;
  box-shadow: 0px 0px 10px rgba(133, 133, 133, 0.268);
}

.nav-bar .wrapper .nav-items .nav-links ul {
  margin: 10px;
  padding: 10px;
}

.nav-bar .wrapper .nav-items .nav-links ul li {
  display: block;
  margin-bottom: 10px;
}

.nav-bar .wrapper .nav-items .nav-links ul li a {
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #818181;
  transition: .5s ease;
}

.nav-bar .wrapper .nav-items .nav-links ul li a:hover {
  color: #2c2c2e;
}

.nav-bar .wrapper .nav-items .nav-links ul li .last li:last-child {
  margin-bottom: 0px;
}

.nav-bar .wrapper .nav-items .nav-links.active {
  display: block;
}

@media only screen and (max-width: 1250px) {
  .nav-bar .wrapper {
    width: 90%;
  }
}

.noteForm {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.noteForm form {
  width: 500px;
  box-shadow: 0px 0px 10px #d6d6d6;
  padding: 15px;
  border-radius: 5px;
}

.noteForm form .form-action {
  width: 100%;
  margin-bottom: 20px;
}

.noteForm form .form-action input, .noteForm form .form-action select {
  width: 100%;
  height: 40px;
  border: 1px solid #f8f8f8;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.noteForm form button {
  width: 100%;
  height: 40px;
  background-color: #2c2c2e;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .noteForm {
    margin-bottom: 50px;
  }
  .noteForm form {
    width: 100%;
    box-shadow: none;
  }
}

.noteCard {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #d0d0d0;
}

.noteCard .noteUser {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.noteCard .noteUser .noteUserUsername {
  font-size: 16px;
}

.noteCard .noteUser .info {
  position: relative;
  display: flex;
  align-items: center;
}

.noteCard .noteUser .info .noteUserPubDate {
  font-size: 14px;
  color: #696969;
  margin-right: 10px;
}

.noteCard .noteUser .info .info-btn {
  width: auto;
  height: auto;
  cursor: pointer;
}

.noteCard .noteUser .info .info-btn div {
  width: 4px;
  height: 4px;
  background-color: #696969;
  margin-bottom: 2px;
}

.noteCard .noteUser .info .noteDropDown {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  width: auto;
  height: auto;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #b8b8b8;
}

.noteCard .noteUser .info .noteDropDown a {
  display: block;
  padding: 7px 12px;
  margin-bottom: 3px;
  transition: .5s ease;
  border-radius: 5px;
}

.noteCard .noteUser .info .noteDropDown a:last-child {
  margin-bottom: 0px;
  background-color: #f34646;
  color: #fff;
}

.noteCard .noteUser .info .noteDropDown a:hover {
  background-color: #ebebeb;
}

.noteCard .noteUser .info .noteDropDown a:last-child:hover {
  background-color: #e62121;
}

.noteCard .noteUser .info .noteDropDown.noteDropDownActive {
  display: block;
}

.noteCard .noteContent h2 {
  color: #5459ff;
  font-size: 20px;
  margin-bottom: 7px;
}

.noteCard .noteContent p {
  font-size: 16px;
}

.main-container {
  width: 1200px;
  min-height: 100px;
  height: auto;
  margin: 0 auto;
}

@media only screen and (max-width: 1250px) {
  .main-container {
    width: 90%;
  }
}

.noteDisplay {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-template-rows: auto;
}

.noteDisplay .noteActive {
  border: 2px solid #5459ff;
}

@media only screen and (max-width: 820px) {
  .noteDisplay {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .noteDisplay {
    grid-template-columns: repeat(1, 1fr);
  }
}

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f1f1f1;
}

.login-page .login-box {
  width: 350px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
}

.login-page .login-box .container {
  width: 320px;
  margin: 20px auto;
  text-align: center;
}

.login-page .login-box .container h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.login-page .login-box .container form {
  width: 100%;
  height: auto;
}

.login-page .login-box .container form .form-action {
  width: 100%;
}

.login-page .login-box .container form .form-action input {
  width: 100%;
  padding: 10px 6px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #a1a1a1;
  color: #a1a1a1;
  margin-bottom: 15px;
  font-size: 14px;
}

.login-page .login-box .container form .info {
  text-align: left;
  margin-bottom: 20px;
}

.login-page .login-box .container form .info p {
  font-size: 14px;
}

.login-page .login-box .container form .info p a {
  color: #5459ff;
}

.login-page .login-box .container form button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #2c2c2e;
}

@media only screen and (max-width: 400px) {
  .login-page .login-box {
    width: 90%;
  }
  .login-page .login-box .container {
    width: 90%;
    margin: 15px auto;
  }
}
/*# sourceMappingURL=main.css.map */