.noteDisplay{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    grid-template-rows: auto;
    .noteCard{
        position: relative;
        width: 100%;
        min-height: 100px;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(208, 208, 208);
        .noteUser{
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            .noteUserUsername{
                font-size: 16px;
            }
            .info{
                position: relative;
                display: flex;
                align-items: center;
                .noteUserPubDate{
                    font-size: 14px;
                    color: #696969;
                    margin-right: 10px;
                }
                .info-btn{
                    width: auto;
                    height: auto;
                    cursor: pointer;
                    div{
                        width: 4px;
                        height: 4px;
                        background-color:#696969;
                        margin-bottom: 2px;
                    }
                }
                .noteDropDown{
                    display: none;
                    position: absolute;
                    top:30px;
                    right: 0;
                    width: auto;
                    height: auto;
                    padding: 10px 15px;
                    // border: 1px solid #000;
                    background-color: #fff;
                    border-radius: 5px;
                    box-shadow: 0px 0px 4px rgb(184, 184, 184);
                    a{
                        display: block;
                        padding: 7px 12px;
                        margin-bottom: 3px;
                        transition: .5s ease;
                        border-radius: 5px;

                        &:last-child{
                            margin-bottom: 0px;
                            background-color: rgb(243, 70, 70);
                            color: #fff;
                        }
                        &:hover{
                            background-color: #ebebeb;
                        }
                        &:last-child:hover{
                            background-color: rgb(230, 33, 33);
                        }

                    }

                }
            }

        }
        .noteContent{
            h2{
                color: $primary-blue;
                font-size: 20px;
                margin-bottom: 7px;
            }
            p{
                font-size: 16px;
            }
        }
    }
}