{% extends 'base.html' %}

{% block title %}
OctoNotes - Home
{% endblock title %}

{% block content %}
<div class="noteDisplay">
    {% if notes %}
    {% for note in notes %}
        {% if request.user == note.user %}
        <div class="noteCard noteActive">
        {% else %}
        <div class="noteCard">

        {% endif %}
        <div class="noteUser">
            <p class="noteUserUsername">{{note.user}}</p>
            <div class="info">
                <p class="noteUserPubDate">{{note.pub_date}}</p>
                {% if request.user == note.user %}
                <div class="info-btn">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="noteDropDown">
                    <a href="#">Edit</a>
                    
                    <a href="{% url 'notes:deleteNote' note.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
        
        </div>
    
        <div class="noteContent">
            <h2>{{note.title}}</h2>
            <p>{{note.content}}</p>
        </div>
    
    </div>
    {% endfor %}
    {% else %}
    <p> No Notes, Create Your First Note.... </p>
    {% endif %}
</div>

{% endblock content %}